/* Start Login */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.login-logo .logo-text {
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    font-family: "Rubik", sans-serif;
}

.login-logo .logo-icon {
    color: var(--second-color);
}

.login {
    display: flex;
    width: 800px;
}

.login .left {
    width: 50%;
    align-self: center;
}

.login .right {
    width: 50%;
    align-self: center;
}

.login .right img {
    width: 100%;
}

.login form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 12px 20px;
    width: 100%;
    margin: auto;
    border: none;
}

input:not(:last-child) {
    border-bottom: #333 2px solid;
}

input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    width: 50%;
    border-radius: 10px;
}


/*________________________ START LOG IN PAGE ________________________ */


/* START MEDIA */

@media (max-width: 480px) {
    .login {
        flex-direction: column;
        /* Stack login elements vertically */
        width: 90%;
        /* Adjust the width to fit smaller screens */
        margin: 20px auto;
        /* Center the login container */
    }

    .login-logo {
        left: inherit;
    }

    .login .right {
        display: none;
    }

    .login .left {
        width: 100%;
        /* Make both login columns full-width on smaller screens */
    }

    /* Adjust the logo size for smaller screens */
    .login-logo .logo-text {
        font-size: 22px;
    }


    /* Adjust the form input styling for smaller screens */
    input {
        padding: 10px 16px;
        font-size: 16px;
    }

    /* Center the submit button on smaller screens */
    input[type="submit"] {
        width: 100%;
    }
}

/* END MEDIA */


/*________________________ END LOG IN PAGE ________________________ */

