/* Start Navbar */

@media (max-width: 768px) {
    nav .logo .logo-text {
        font-size: 25px;
    }

    nav .links {
        display: none;
    }

    #menu {
        display: block;
        font-size: 20px;
    }

    ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #010000cf;
        padding: 5px;
        border-radius: 8px;
        z-index: 1000;
    }

    ul.active a {
        color: white;
    }
}

/* End Navbar */

/* ---------------------------------------------------- */

/* Start Footer */

@media (max-width: 480px) {

    footer .logo .logo-text {
        font-size: 30px;
    }

    footer .container {
        text-align: center;
        gap: 35px;
    }
    
    footer .socials .content {
        justify-content: center;
    }

    footer .copyRights {
        margin-top: 20px;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    footer .logo .logo-text {
        font-size: 30px;
    }
    footer .container {
        text-align: center;
        
    }
    footer .socials .content {
        justify-content: center;
    }
    footer .socials {
        align-self: center;
    }
    footer .copyRights {
        margin-top: 20px;
        text-align: center;
    }
}

/* End Footer */

@media (max-width: 480px) {
    .main-heading {
        font-size: 50px;
    }
}

/* ---------------------------------------------------- */

/* Start Home Page */

@media (max-width: 480px) {
    .landing-page .text {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        line-height: normal;
        font-size: 12px;
    }

    .landing-page button {
        padding: 2px 6px;
        font-size: 14px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .landing-page .text {
        width: 80%;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        font-size: 16px;
    }
}
/* ------------------ */
@media (max-width: 480px) {
    .services h2 {
        font-size: 50px;
    }
    
    .services .services-cards {
        gap: 0;
    }
}
/* ------------------ */
@media (max-width: 480px) {

    .discounts .content {
        flex-direction: column;
    }

    .discounts .container .right,
    .discounts .container .left {
        width: 100%;
    }

    .discounts .container .right::before {
        display: none;
    }
    
    .discounts .container .left button,
    .discounts .container .right button {
        width: 50%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .discounts .container .right::before {
        font-size: 60px;
        left: -28px;
    }
    .discounts .container .left button,
    .discounts .container .right button {
        width: 50%;
    }
}
/* ------------------ */

/* End Home Page */

/* #################################################### */

/* Start Courses */

@media (max-width: 480px) {
    .landing-page .text {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        line-height: normal;
        font-size: 12px;
    }

    .landing-page input {
        width: 80%;
        margin: auto;
        padding: 5px 10px;
    }

    .landing-page button {
        padding: 2px 6px;
        font-size: 14px;
        width: 50%;
        margin: 10px auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .landing-page .text {
        width: 80%;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        font-size: 16px;
    }
}

/* ------------------ */

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media (max-width: 480px) {
    .latest-courses .main-heading {
        font-size: 50px;
    }
}

/* ------------------ */

@media(max-width: 480px) {
    .instructors-cards img {
        width: 200px !important;
    }
}

@media(min-width: 481px) and (max-width: 768px) {
    .instructors-cards img {
        width: 250px !important;
    }
}

/* ------------------ */

@media(max-width: 768px) {
    .join-us .join-content {
        flex-direction: column;
    }

    .join-us .join-content .left {
        text-align: center;
        width: 100%;
    }

    .join-us .join-content .right {
        width: 100%;
        order: -1;
    }

    .join-us .join-content img {
        width: 50%;
    }
}

/* ------------------ */

/* End Courses */

/* Start Sign Up */

@media(max-width: 480px) {

    .signUp h2 {
        margin-top: 200px !important;
    }

    .signUp {
        justify-content: center;
        align-items: center;
    }

    .signUp .left {
        width: 90%;
    }
    
    .signUp .right {
        display: none;
    }

    .signUp .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .signUp .logo .logo-text {
        font-size: 22px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    
    .signUp {
        margin-top: 100px;
    }

    .signUp .left {
        width: 90%;
    }

    .signUp .right {
        display: flex;
        justify-content: center; /* Horizontally center the image */
        align-items: center; /* Vertically center the image */
        width: 90%;
    }

    .signUp .right img {
        max-width: 100%; /* Make sure the image doesn't exceed its parent container */
    }

    .signUp .logo {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
    }

    .signUp .logo .logo-text {
        font-size: 22px;
    }
}

/* End Sign Up */

/* Start Log in */

@media (max-width: 480px) {
    .login {
        justify-content: center;
        align-items: center;
    }

    .login .left {
        width: 90%;
    }

    .login .right {
        display: none;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo .logo-text {
        font-size: 22px;
    }
}

/* End Log in */
