/* Start Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #3e5c60;
    --second-color: #723b4a;
    --line-height: 1.7;
    --transition-duration: 0.3s;
    --section-marginT: 75px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
}

.myBtn {
    padding: 8px 40px;
    color: white;
    border-radius: 5px;
}

.main-btn {
    background-color: var(--main-color);
}

.sec-btn {
    background-color: var(--second-color);
}

.main-heading {
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke: var(--main-color) 2px;
    color: white;
}

input:focus {
    outline: none;
}

/* End Global */

/* Start Navbar */

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 0px 0px #eee;
    -webkit-box-shadow: 0px 5px 0px 0px #eee;
    -moz-box-shadow: 0px 5px 0px 0px #eee;
}

nav .menu-button {
    display: none;
}

nav .logo .logo-text {
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    font-family: "Rubik", sans-serif;
}

nav .logo .logo-icon {
    color: var(--second-color);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}

nav .links a {
    color: black;
    font-weight: bold;
    transition: var(--transition-duration);
}

nav .links li {
    position: relative;
    transition: var(--transition-duration);
}

nav .links li:not(#login)::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--second-color);
    width: 0;
    bottom: -4px;
    transition: var(--transition-duration);
}

nav .links li:hover:not(#login, #discountsLink)::before {
    width: 100%;
}

#login {
    background-color: var(--main-color);
    padding: 8px 18px;
    border-radius: 8px;
}

#login:active {
    transform: translateY(-1px);
}

#login a {
    color: white;
}

#discountsLink {
    background-color: var(--second-color);
    padding: 8px 18px;
    border-radius: 8px;
    animation: color-change 1.3s infinite linear alternate;
}

@keyframes color-change {
    from {
        background-color: var(--main-color);
    }

    to {
        background-color: var(--second-color);
    }
}

#discountsLink a {
    color: white;
}

#menu {
    display: none;
}

/* Start Media */

@media (max-width: 480px) {
    nav .logo .logo-text {
        font-size: 25px;
    }

    nav .links {
        display: none;
    }

    #menu {
        display: block;
        font-size: 20px;
    }

    ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #010000cf;
        padding: 5px;
        border-radius: 8px;
        z-index: 1000;
    }

    ul.active a {
        color: white;
    }
}

/* End Media */

/* End Navbar */

/* Start Landing Page */

.landing-page .image {
    position: relative;
}

.landing-page .image h2 {
    font-size: 65px;
    font-weight: bolder;
}

.landing-page .text {
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    z-index: 500;
    text-align: center;
}

.landing-page .text p {
    line-height: 2;
    font-size: 25px;
}

.landing-page .image img {
    width: 100%;
    position: relative;
}

.landing-page .image::before {
    content: "";
    position: absolute;
    background-color: rgba(12, 1, 1, 0.684);
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.landing-page input {
    outline: none;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    transition: var(--transition-duration);
    opacity: 0.5;
}

.landing-page input:focus {
    transition: var(--transition-duration);
    border-bottom: 5px solid var(--second-color);
}

.landing-page input:focus::placeholder {
    opacity: 0;
}

.landing-page input::placeholder {
    color: black;
    transition: var(--transition-duration);
}

.landing-page button {
    padding: 12px;
    border-radius: 8px;
    background: var(--second-color);
    color: white;
    transition: var(--transition-duration);
}

.landing-page button:hover {
    background-color: #723b4ae8;
}

/* Start Media */

@media (max-width: 480px) {
    .landing-page .text {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        line-height: normal;
        font-size: 12px;
    }

    .landing-page input {
        width: 80%;
        margin: auto;
        padding: 5px 10px;
    }

    .landing-page button {
        padding: 2px 6px;
        font-size: 14px;
        width: 50%;
        margin: 10px auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .landing-page .text {
        width: 80%;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        font-size: 16px;
    }
}

/* End Media */

/* End Landing Page */

/* Start Departments */

.department img {
    width: 250px;
    cursor: pointer;
}

.department {
    text-align: center;
    border-radius: 40px;
    transition: var(--transition-duration);
    padding: 8px;
}

.departments .departments-cards {
    margin-top: var(--section-marginT);
}

.departments .department:hover {
    box-shadow: 0px 29px 52px 0px rgba(114, 59, 74, 1),
        0px 25px 16px 0px rgba(0, 0, 0, 0.2);
}

.department p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* Start Media */

@media (max-width: 480px) {
    .departments h2 {
        font-size: 50px;
    }
}

/* End Media */

/* End Departments */

/* Start Lastest Courses */



.latest-courses .container {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center; /* Center the carousel horizontally */
    align-items: center; /* Center the carousel vertically */
    margin-top: var(--section-marginT);
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel {
    /* Other existing properties */
    margin: 0 auto; /* Add this to center the cards within the carousel */
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: var(--second-color);
    height: 148px;
    width: 148px;
    border-radius: 50%;
    margin-top: 20px;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6a6d78;
    font-size: 1.31rem;
}

/* Start Media */

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media (max-width: 480px) {
    .latest-courses .main-heading {
        font-size: 50px;
    }
}

/* End Media */

/* End Lastest Courses */