/* Start Landing Page */

.landing-page {
    background-image: url(./images/landing.png);
    width: calc(100vw);
    height: calc(100vh - 92.5px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-page::before {
    content: "";
    position: absolute;
    background-color: rgba(12, 1, 1, 0.557);
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.landing-page .image {
    position: relative;
}

.landing-page .image h2 {
    font-size: 65px;
    font-weight: bolder;
}

.landing-page .text {
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    z-index: 500;
    text-align: center;
}

.landing-page .text p {
    line-height: 2;
    font-size: 25px;
}

.landing-page .image img {
    width: 100%;
    position: relative;
}

.landing-page .image::before {
    content: "";
    position: absolute;
    background-color: rgba(12, 1, 1, 0.684);
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.landing-page input {
    outline: none;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    transition: var(--transition-duration);
    opacity: 0.8;
    color: rgb(0, 0, 0);
}

.landing-page input:focus {
    transition: var(--transition-duration);
    border-bottom: 5px solid var(--second-color);
}

.landing-page input:focus::placeholder {
    opacity: 0;
}

.landing-page input::placeholder {
    color: black;
    transition: var(--transition-duration);
}

.landing-page button {
    padding: 12px;
    border-radius: 8px;
    background: var(--second-color);
    color: white;
    transition: var(--transition-duration);
}

.landing-page button:hover {
    background-color: #723b4ae8;
}


/* End Landing Page */

/* Start Departments */

.department img {
    width: 250px;
    cursor: pointer;
}

.department {
    text-align: center;
    border-radius: 40px;
    transition: var(--transition-duration);
    padding: 8px;
    display: flex;
    justify-content: center;
}

.departments .departments-cards {
    margin-top: var(--section-marginT);
}

.departments .department:hover {
    box-shadow: 0px 29px 52px 0px rgba(114, 59, 74, 1),
        0px 25px 16px 0px rgba(0, 0, 0, 0.2);
}

.department p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* End Departments */



.latest-courses .container {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center; /* Center the carousel horizontally */
    align-items: center; /* Center the carousel vertically */
    margin-top: var(--section-marginT);
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.wrapper .carousel .ratings {
    color: #ffd600;
}

.carousel {
    /* Other existing properties */
    margin: 0 auto; /* Add this to center the cards within the carousel */
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.wrapper .card a {
    color: var(--second-color);
}

.carousel .card .img {
    background: var(--second-color);
    height: 148px;
    width: 148px;
    border-radius: 50%;
    margin-top: 20px;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6a6d78;
    font-size: 1.31rem;
}

/* End Lastest Courses */


/* Start Instructor */

.instructors .instructor-cards {
    margin-top: 40px;
    text-align: center;
}

.instructor-cards .instructor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 3px solid var(--second-color);
    border-radius: 10px;
    background-color: #f7f7f7;
}

.instructor-cards .instructor img {
    max-width: 100%;
    border-radius: 50%;
}

.instructor-cards .instructor .info {
    text-align: center;
}

.instructor-cards .instructor .name {
    font-size: 24px;
    color: #222;
}

.instructor-cards .instructor .major {
    font-size: 16px;
}

.instructor-cards .instructor .socials {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.instructor-cards .instructor .media {
    font-size: 30px;
}

.instructor-cards .instructor .media svg {
    transition: var(--transition-duration);
}

.instructor-cards .instructor .media svg:hover {
    transform: scale(1.2);
}

/* End Instructor */


/* Start Join Us */

.join-us .join-content {
    margin-top: var(--section-marginT);
    display: flex;
    gap: 20px;
}

.join-us .join-content .left {
    width: 50%;
}

.join-us .join-content .right {
    width: 50%;
}

.join-us .join-content .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-us .join-content img {
    width: 80%;
}


/* End Join Us */


/* START MEDIA */

/* Landing Page */

@media (max-width: 480px) {
    .landing-page .text {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        line-height: normal;
        font-size: 12px;
    }

    .landing-page input {
        width: 80%;
        margin: auto;
        padding: 5px 10px;
    }

    .landing-page button {
        padding: 2px 6px;
        font-size: 14px;
        width: 50%;
        margin: 10px auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .landing-page .text {
        width: 80%;
    }

    .landing-page .text h2 {
        font-size: 25px;
    }

    .landing-page .text p {
        font-size: 16px;
    }
}

/* Instructors */

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}


/* Join Us */

@media (max-width: 480px) {
    .join-us .join-content {
        flex-direction: column;
    }

    .join-us .join-content .right {
        width: 100%;
        order: -1;
    }

    .join-us .join-content .left {
        text-align: center;
        width: 100%;
    }
}


/* instructors */

@media (min-width: 481px) and (max-width: 768px) {
    .instructors .instructors-cards .team-item {
        width: 250px;
    }
}





/* END MEDIA */


